body {
  background: #ffffff;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container-w {
  max-width: 75rem;
  width: 100%;
  margin: auto;
}
.container-w50 {
  width: 50%;
}
.col-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-color-lb {
  background: #0099ff;
}

.align-justify {
  text-align: justify;
}
